<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IntroVue2</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">

      <div class="product-image">
        <img :src="image" alt="socks image">
      </div>

      <div class="product-info">
        <h1>{{ product }}</h1>
        <p>{{ description }}</p>
        <a :href="link" target="_blank">
          View products like this
        </a>
        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory <=10 && inventory > 0">Almost Sold Out</p>
        <p v-else>Out Of Stock</p>
        <p v-show="onSale">On Sale!</p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div v-for="variant in variants"
             :key="variant.variantId"
             class="color-box"
             :style="{ backgroundColor: variant.variantColour }"
             @mouseover="updateProduct(variant.variantImage)">
        </div>

        <ul>
          <li v-for="size in sizes">{{ size }}</li>
        </ul>

        <button @click="addToCart" :class="{'disabled': inventory === 0}" :disabled="inventory === 0">Add To Cart</button>
        <button @click="removeFromCart" :class="{'disabled': cart === 0}" :disabled="cart === 0">Remove From Cart</button>

        <div class="cart">
          <p>Cart ({{ cart }})</p>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>